.item {
  position: relative;
  margin: 1rem;
  cursor: pointer;
  overflow: hidden;

  width: 20rem;
  border: 1px solid #303a5f;
  border-radius: 0.3rem;
}
.item-movie {
  color: white;
}
.overview {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  background-color: white;
  padding: 1rem;
  /* width: 100%; */
}
:where(.overview) h3 {
  margin-bottom: 1rem;
}
.overview p {
  height: 12vh;
  overflow: auto;
}
.overview p::-webkit-scrollbar {
  width: 0.2rem;
  background-color: #ddd;
}
.overview h4 {
  margin: 10px 0px;
}
.item:hover .overview {
  transition: all 0.5s linear;
  top: 0;
}
.item-movie img {
  width: 100%;
  height: 20rem;
  object-fit: contain;
}
.item-movie h4 {
  /* background-color: red; */

  white-space: nowrap;
  text-overflow: ellipsis;
  width: 90%;
  overflow: hidden;

  padding: 0.3rem;
}
.item-movie-info {
  display: flex;
  justify-content: space-between;
  background-color: #303a5f;
  padding: 10px;
}

.vote1 {
  background-color: rgb(138, 180, 71);
  padding: 0.1rem 1.5rem;
  border-radius: 0.3rem;
}

.vote2 {
  background-color: rgb(163, 93, 81);
  padding: 0.1rem 1.5rem;
  border-radius: 0.3rem;
}
